
  <main>
    <div class="container">
      <div class="row">
        <h1 class="px-3 mx-auto">
          Weicome to
          <i class="fas fa-book">::before</i>
          <strong>Bookers</strong>
          !
        </h1>
      </div>
    </div>
  </main>